@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;800;900&display=swap');
*
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    padding-top: 35px;
    padding-bottom: 35px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

}

.body{
    background-color: #f8f8f8;
}
.container{
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
}

.logo{
    display: inline-block;
    margin-top: 65px;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
    margin-top: 65px;
}

.menu ul li a{
    font-family:'Lato', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    
}

.banner{
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 270px 0px 220px;
    position: relative;
    z-index: 9;
}

.banner-content{
    width: 870px;
    margin: auto;
    text-align: center;
}

.banner-content h1{
    font-family:'Lato', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 45px;
}

.banner-content p{
    font-family:'Lato', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 45px;
}
.mirror{
    max-width: 880px;
    margin: auto;
    position: relative;
}

.mirror .fa-solid{
    font-size: 20px;
    color: #e1e1e1;
    position: absolute;
    right: 50px;
    margin-top: -36px;
}
.input{
    padding: 20px;
    width: 880px;
    border-radius: 50px;
    border: none;
}

.content{
    max-width:"725px";
    margin:auto;
    display:flex;
    justify-content:space-between;
    margin-bottom: 140px;
}

.box1{
    height: 185px;
    width: 145px;
    background-color: #ffffff;
    border-radius: 30px;
    max-width:"725px";
    margin:auto;
    position: relative;
}

.arrow img{
    position: absolute;
    right: 40px;
    top: 30px;
}
.box1 h2{
    color: #f2b115;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.box1 p{
    font-family:'Lato', sans-serif;
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

.graph1 img{
    position: absolute;
    left: 28px;
}
.box2{
    width: 330px;
    height: 125px;
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
    left: -115px;
    z-index: 9;
    top: -60px;
}
.box2 h1{
    color: #42c3af;
    font-family:'Lato', sans-serif;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 25px;
}

.play{
    position: absolute;
    margin-left:25px;
    margin-top:-28px;
}
.graph {
    position: absolute;
    right: 35px;
    top: 15px;
}
.box2 p {
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    left: 90px;
    color: gray;
    bottom: 5px;

}
.text p{
    font-family:'Lato', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    color: #42c3af;
}
.mywidth{
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.my h1{
    font-family:'Lato', sans-serif;
    text-decoration: none;
    color: #1b2f4d;
    font-size: 60px;
    font-weight: 800;
    max-width: 440px;
    margin-bottom: 60px;
}

.button a {
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    position: absolute;
    right: 0px;
    border-radius: 25px;
    background-color: #f95157;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 800;
    
}

.text-content::after{
    content: "";

}
.col-xxl-6 p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.col-xxl-6 p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10PX;
    
}
.col-3 p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 800;
    display: iline;
    margin-top: -380px;
    margin-left: 50px;
    text-align: center;
    color: #fff;
}

.teke-width{
    max-width: 535px;
    margin: auto;
    margin-bottom: 110px;
}
.teke-width h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #1b2f4d;
    
}

.teke-width span{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #f95157;
}

.col-xxl-4 h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #1b2f4d;
}

.col-xxl-4 span{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #f95157;
}

.col-xxl-4 p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #111111;
}

.everything{
    background-image: url(../image/chepta.png);
    padding: 220px 100px;
}

.everything-text{
    max-width: 550px;
    margin-left: 685px;
    margin-top: -50px;
}

.everything-text h2{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #f8f8f8;
    margin-bottom: 60px;
}

.everything-text p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #f8f8f8;
}

.col-xxl-7 h1{
    font-family: 'Lato', sans-serif;
    font-size: 73px;
    font-weight: 800;
    margin-bottom: 60px;
    margin-top: 80px;
    
}
.col-xxl-7 span{
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #f95157;
}
.col-xxl-7 p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.get-width{
    max-width: 520px;
    margin: auto;
}


.get-width h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 800;
    
}
.get-width span{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 800;
    color: #f95157;
    
}
.col-xxl-6 h3{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #1b2f4d;
    margin-bottom: 70px;
}
.col-xxl-6 span{
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #f95157;
}

.col-xxl-6 p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}

.img-fluid{
    height: 60px;
    width: 70px;
}

.item{
    max-width: 545px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.p-item h4{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #f95157;
    margin-top: 20px;
    margin-left: -15px;
}
.p-item h5{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #f2b115;
    margin-top: 20px;
    margin-left: -10px;
}

.p-item h6{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #42c3af;
    margin-top: 20px;
}
.p-item p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin-top: 20px;
    margin-left: -25px;
}
.btn{
    background-color: #f95157;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    margin-top: 20px;
}

.form-control{
    margin-top: 50px;
    padding: 15px;
    margin-left: 20px;
    background-color: #ebe3e3;
    border: none;
}

.footer{
    margin-top: 70px;
    background-image: url(../image/footer.png);
    padding: 220px 150px;

}

.fotter-width{
    max-width: 345px;
    margin: auto;
}

.fotter-width h2{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #ebe3e3;
}
.fotter-width p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ebe3e3;
}

.footer-content{
    max-width: 785PX;
    margin: auto;
}
.footer-content p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ebe3e3;
}
button{
    border: none;
    height: 50PX;
    width: 140px;
    background-color: #f8f8f8;
    color: #f95157;
    border-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 50px;
}

.pera a{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ebe3e3;
    text-decoration: none;
    cursor: none;
}

.col-3 a{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ebe3e3;
    text-decoration: none;
}

@media (max-width:1400px){

}

@media (max-width:1200px){

}